/* ESTILOS PARA TITULO EN SECCIÓN BIKINIS Y TALLES */

$estiloTexto: Arial;
$tamañoTitulo: 20px;

/* ESTILOS PARA PARRAFOS/TEXTO EN SECCIÓN BIKINIS, NOSOTROS Y TALLES */
$tamañoTexto: 15, 20, 25, 30;
$tamañoTextoG: 20px;

/* ESTILOS PARA TITULO EN NOSOTROS */
$estiloTituloNosotros: 40px;


/* ESTILOS PARA PÁRRAFO EN NOSOTROS */
$estiloParrafoNosotros: 20px;

/* ESTILOS PARA TEXTO EN TALLAS */
$textoTalle: 30px;

/* ------- EACH ------- */

